<div class="container">
    <p>Ajouter une nouvelle classe</p>

    <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nom de la classe :</label>
            <input type="text" id="name" formControlName="name" placeholder="Ex: 3IL 1...">
        </div>
        <button type="submit" [disabled]="!classForm.valid || isLoading">
            {{ isLoading ? 'Ajout...' : 'Ajouter' }}
        </button>
    </form>

    <div *ngIf="isLoading && classes.length === 0" class="loading">Chargement des données...</div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom de la classe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let class of classes">
                <td><strong>#{{ class.id }}</strong></td>
                <td>{{ class.name }}</td>
                <td class="action-button">
                    <button (click)="editClasse(class.id)">Modifier</button>
                    <button (click)="deleteClasse(class.id)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>